/* ============================================================
  banner
============================================================ */
/*Set some details of the banner*/
#banner {
  top: 0;
  position: fixed;
  background-color: var(--banner-background-color);
  height: 50px;
  width: 100%;
  display: inline-block;
  z-index: 10000;
}
#banner .text {
  margin: 5px 5px 5px 5px;
  color: var(--banner-font-color);
}
#banner p.text a {
  color: var(--banner-font-a-color);
}
#banner .socialmedia {
  padding: 10px;
}
