/* ============================================================
  banner
============================================================ */
/*Set some details of the banner*/
#banner {
  top: 0;
  position: fixed;
  background-color: var(--banner-background-color);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  text-align: center;
}
#banner p {
  margin: 5px 5px 5px 5px;
  color: var(--banner-font-color);
}
#banner p a {
  color: var(--banner-font-a-color);
}
