/* ============================================================
  contactform
============================================================ */
#contactform.contactform {
  min-height: calc(100vh - 131px);
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
#contactform.contactform .cover {
  height: 100%;
  background-color: var(--contact-background-rgba);
  color: var(--contact-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contactform.contactform .cover .contactform-title {
  padding: 50px 25px 25px 25px;
  /*text-align: center;*/
  text-transform: uppercase;
  z-index: 1;
}
#contactform.contactform .cover .container {
  width: 80%;
  padding: 25px;
  margin: 25px;
}
#contactform.contactform .cover .container .row #contactform-form {
  text-align: left;
}
#contactform.contactform .cover .container .row #contactform-form .form-group #name.form-control,
#contactform.contactform .cover .container .row #contactform-form .form-group #email.form-control,
#contactform.contactform .cover .container .row #contactform-form .form-group #phone.form-control  {
  height: 50px;
}
#contactform.contactform .cover .container .row #contactform-form .form-group #message.form-control {
  height: 150px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  #contactform.contactform .cover .container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1024px)  {
  #contactform.contactform .cover .container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }
}
