/* ============================================================
  latestnews
============================================================ */
#latestnews.container.latestnews {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-width: 2px;
  border-bottom:
}
#latestnews.container.latestnews .latestnews-title {
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
#latestnews.container.latestnews .row .col-md-4 {
  padding-top: 25px;
  padding-bottom: 25px
}
#latestnews.container.latestnews .row .col-md-4 .latestnews-image {
  position: relative;
  width: auto;
  height: 100%;
  display: block;
  overflow: hidden;
  padding: 5px;
}
#latestnews.container.latestnews .row .col-md-4 .latestnews-image img {
  height: auto;
  max-width: 300px;
}
#latestnews.container.latestnews .button .btn {
  background-color: #024985;
  color: #fff;
}
