/* ============================================================
  packages
============================================================ */
#packages.container.packages {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-width: 2px;
  border-bottom:
}
#packages.container.packages .packages-title {
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
#packages.container.packages .row .col-md-4 {
  padding-top: 25px;
  padding-bottom: 25px
}
#packages.container.packages .row .col-md-4 .package-image {
  position: relative;
  width: auto;
  height: 100%;
  display: block;
  overflow: hidden;
  padding: 5px;
}
#packages.container.packages .row .col-md-4 .package-image img {
  height: auto;
  max-width: 300px;
}
