/* ============================================================
  testimonial-carousel
============================================================ */
#testimonials {
  height: auto;
  min-height: calc(100vh - var(--total-height-top));
  background-position: 50% 50%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
#testimonials .cover {
  height: auto;
  min-height: calc(100vh - var(--total-height-top));
  background-color: var(--testimonials-background-rgba);
  color: var(--testimonials-color);
  text-align: center;
  display: block;
  width: 100%;
  padding: 0px;
  padding-top: 50px;
  margin: 0px;
}
#testimonials .cover .testimonials-title {
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-right: auto;
  padding-left: auto;
  max-width: 500px;
  z-index: 1;
}
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials {
  width: 100%;
  /*min-height: 400px;
  height: auto;*/
}
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item {
  min-height: 400px;
  height: auto;
}
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption {
  /*Edit the height of the text*/
  min-height: 400px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  font-weight: 900;
}
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption  h2,
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption  h4,
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption  p,
#testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption  p a {
  color: var(--testimonials-color);
  padding: 10px;
}

/* ============================================================
  This is where we deal with the responsive elements of the design
============================================================ */

@media only screen and (min-width: 560px) and (max-width: 768px)  {
  #testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item {
    min-height: 500px;
    height: auto;
  }
  #testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption {
    min-height: 500px;
    height: auto;
    padding: 10px;
  }
}
@media only screen and (min-width: 460px) and (max-width: 560px)  {
  #testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item {
    min-height: 600px;
    height: auto;
  }
  #testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption {
    min-height: 600px;
    height: auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 480px)  {
  #testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item {
    min-height: 700px;
    height: auto;
  }
  #testimonials .cover #testimonial-carousel.carousel.slide.testimonials .carousel-inner .item .carousel-caption {
    min-height: 700px;
    height: auto;
    padding: 10px;
  }
}
